@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Body poniżej */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Cały header, navbar, logo itd */

header {
  /* width: 100vw; */
  height: 15vh;
  position: absolute;
  z-index: 10;
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#logo {
  margin: -10px 0 0 30px;
  position: absolute;
  height: 80px;
  grid-area: 0 / 1 / 1 / 2;
}
.nav-btn {
  width: 100px;
  height: 40px;
  background: none;
  color: black;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 20px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
.nav-btn:hover {
  background-color: rgba(65, 65, 65, 0.5);
  transition: 0.5s;
}
.icon {
  height: 80%;
  margin: 10px;
}
#home-btn {
  grid-area: 1 / 6 / 2 / 7;
}
#modelS-btn {
  grid-area: 1 / 9 / 2 / 10;
}
#modelX-btn {
  grid-area: 1 / 10 / 2 / 11;
}
#model3-btn {
  grid-area: 1 / 11 / 2 / 12;
}
/* to co poniżej headera */

section#jed {
  background-image: url("img/tlo3.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
h1#title {
  position: absolute;
  margin-top: 10%;
  font-size: 50pt;
}
section#dwa {
  background-color: black;
  width: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#div-title {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  position: absolute;
  justify-self: center;
}
h2#title2 {
  font-size: 50pt;
  color: white;
  font-weight: lighter;
}
.front {
  width: 30vw;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
}
div#kafel1 {
  grid-area: 3 / 2 / 4 / 3;
  background-image: url("modele/3front.jpg");
}
div#kafel1:hover {
}
div#kafel2 {
  grid-area: 3 / 4 / 4 / 5;
  background-image: url("modele/sfront.jpg");
}
div#kafel3 {
  grid-area: 5 / 2 / 6 / 3;
  background-image: url("modele/xfront.jpg");
}
div#kafel4 {
  grid-area: 5 / 4 / 6 / 5;
  background-image: url("modele/3front.jpg");
}

/* kategorie */
